{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "max-len": [2, 150],
    "prefer-arrow-callback": 0,
    "no-param-reassign": [2,{"props":false}]
  },
  "env": {
    "mocha": true
  }
}